/* General */
* {
    box-sizing: border-box;
}
a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
    text-align: center;
}
/* Header */
.head-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Website1/Images/Header.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.head-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* Nav Bar */
nav{
    float:none;
}
body li{
    display: inline;
}
.NavBar{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: grey;
}
.NavBar:hover{
    color:white;
    font-weight: bold;
}
.NavActive{
    color:blue;
    font-weight: bold;
}
/* Home Body */
.home-body{
    text-align: center;
    position: relative;
}
/* Gallery */
.gallery {
    margin: 0 auto;
    display: inline-table;
    border: 1px solid #ccc;
    width: 300px;
}
.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 300px;
    height: 200px;
}
.gallery2 {
    margin: 0 auto;
    display: inline-table;
    border: 1px solid #ccc;
    width: 300px;
}
.gallery2:hover {
    border: 1px solid #777;
}

.gallery2 img {
    width: 300px;
    height: 200px;
}
.desc {
    padding: 15px;
    text-align: center;
}
/* Contact Me Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.title {
    color: grey;
    font-size: 18px;
}
.contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.contact:hover, a:hover {
    opacity: 0.7;
}
/* Portfolio */
.portfoliomain {
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-size: 50px;
    word-break: break-all;
}
.portfoliorow {
    margin: 8px -16px;
}
.portfoliorow,
.portfoliorow > .portfoliocolumn {
    padding: 8px;
}
.portfoliocolumn {
    float: left;
    width: 25%;
}
.portfoliorow:after {
    content: "";
    display: table;
    clear: both;
}
.portfoliocontent {
    background-color: white;
    padding: 10px;
}
footer{
    margin-top: 50px;
    padding-bottom: 25px;
    display: block;
    font-size:12px;
    border-top:black 3px solid;
    background-color: #CDCDCD;
    font-family: helvetica, arial, sans-serif, monospace;
}
footer li{
    padding:0 20px 0 20px;
}
/* Responsive layout */
@media screen and (max-width: 900px) {
    .portfoliocolumn {
        width: 50%;
    }
}
/* Responsive layout */
@media screen and (max-width: 600px) {
    .portfoliocolumn {
        width: 100%;
    }
}